@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import 'node_modules/@fortawesome/fontawesome-svg-core/styles';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

.movie_posters {
    margin-top: 20px;
}

.container {
    text-align: center;
}


//rating on movie posters and movie view

.star {
    display: inline-block;
    margin-right: 5px;
}

.rating_avg {
    display: inline-block;
}

.rating, .movie_title {
    display: inline-block;
}